#root {
  display: flex;
  justify-content: center;
  #itemListC {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 1px;
    #card {
      margin-right: 0.5rem;
      img {
        height: 9rem;
      }
    }
  }
}
